*{
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
}


h1{
    text-align: center;
    font-size: 300%;
}

img{
    max-width: 20%;
}

#main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#carrinho{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 30%;
    align-items: center;
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;

}

label{
    margin-bottom: 1rem;
}

input{
    margin-bottom: 1rem;
    width: 90%;
}

#lista-produtos{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 1rem;
    width: 30%;
    height: auto;
    text-align: center;
}

.item-lista{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.btn-dlt{
    background-color: red;
    color: aliceblue;
    border-radius: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .1rem;
}